/*faxel-container faxel-padding faxel-black*/
/*faxel-container faxel-xlarge faxel-padding*/
/*faxel-modal faxel-animate-opacity*/
/*faxel-modal-content*/
/*faxel-transparent faxel-button faxel-xlarge faxel-right*/
/*faxel-margin-bottom*/

/*-**************-*****************************-----------------------*/
/*h1 h2 h3 h4 h5 h6 hr */
/*-----------------------*/
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe
UI",Arial,sans-serif;font-weight:400;margin:10px 0}.faxel-wide{letter-spacing:4px}
hr{
   border:0;
   border-top:1px solid #eee;
   margin:20px 0
   }
/*-**************-*****************************-----------------------*/
/*faxel-badge  faxel-tag  faxel-content faxel-auto faxel-auto*/
/*-----------------------*/   
.faxel-badge,.faxel-tag{
   background-color:#000;
   color:#fff;
   display:inline-block;
   padding-left:8px;
   padding-right:8px;
   text-align:center
   }
.faxel-badge{
   border-radius:50%
   }
.faxel-ul{
   list-style-type:none;
   padding:0;margin:0
   }
.faxel-ul li{
   padding:8px
16px;
   border-bottom:1px solid #ddd}
.faxel-ul li:last-child{
   border-bottom:none
   }
.faxel-content,.faxel-auto{
     margin-left:auto;margin-right:auto
     }
.faxel-content{max-width:980px}
.faxel-auto{max-width:1140px}
/*-**************-*****************************-----------------------*/
/*faxel-col  faxel-section faxel-code*/
/*-----------------------*/   
.faxel-section,.faxel-code{
    margin-top:16px!important;
    margin-bottom:16px!important
    }
.faxel-col,.faxel-half,.faxel-third,.faxel-twothird,.faxel-threequarter,.faxel-quarter{float:left;width:100%}
.faxel-col.s1{width:8.33333%}
.faxel-col.s2{width:16.66666%}
.faxel-col.s3{width:24.99999%}
.faxel-col.s4{width:33.33333%}
.faxel-col.s5{width:41.66666%}
.faxel-col.s6{width:49.99999%}
.faxel-col.s7{width:58.33333%}
.faxel-col.s8{width:66.66666%}
.faxel-col.s9{width:74.99999%}
.faxel-col.s10{width:83.33333%}
.faxel-col.s11{width:91.66666%}
.faxel-col.s12{width:99.99999%}
@media
(min-width:601px){.faxel-col.m1{width:8.33333%}.faxel-col.m2{width:16.66666%}.faxel-col.m3,.faxel-quarter{width:24.99999%}.faxel-col.m4,.faxel-third{width:33.33333%}
.faxel-col.m5{width:41.66666%}.faxel-col.m6,.faxel-half{width:49.99999%}.faxel-col.m7{width:58.33333%}.faxel-col.m8,.faxel-twothird{width:66.66666%}
.faxel-col.m9,.faxel-threequarter{width:74.99999%}.faxel-col.m10{width:83.33333%}.faxel-col.m11{width:91.66666%}.faxel-col.m12{width:99.99999%}}
@media
(min-width:993px){.faxel-col.l1{width:8.33333%}.faxel-col.l2{width:16.66666%}.faxel-col.l3{width:24.99999%}.faxel-col.l4{width:33.33333%}
.faxel-col.l5{width:41.66666%}.faxel-col.l6{width:49.99999%}.faxel-col.l7{width:58.33333%}.faxel-col.l8{width:66.66666%}
.faxel-col.l9{width:74.99999%}.faxel-col.l10{width:83.33333%}.faxel-col.l11{width:91.66666%}.faxel-col.l12{width:99.99999%}}
/*-**************-*****************************-----------------------*/
/*faxel-border */
/*-----------------------*/
.faxel-border-amber,.faxel-hover-border-amber:hover{border-color:#ffc107!important}
.faxel-border-aqua,.faxel-hover-border-aqua:hover{border-color:#00ffff!important}
.faxel-border-blue,.faxel-hover-border-blue:hover{border-color:#2196F3!important}
.faxel-border-light-blue,.faxel-hover-border-light-blue:hover{border-color:#87CEEB!important}
.faxel-border-brown,.faxel-hover-border-brown:hover{border-color:#795548!important}
.faxel-border-cyan,.faxel-hover-border-cyan:hover{border-color:#00bcd4!important}
.faxel-border-blue-grey,.faxel-hover-border-blue-grey:hover,.faxel-border-blue-gray,.faxel-hover-border-blue-gray:hover{border-color:#607d8b!important}
.faxel-border-green,.faxel-hover-border-green:hover{border-color:#4CAF50!important}
.faxel-border-light-green,.faxel-hover-border-light-green:hover{border-color:#8bc34a!important}
.faxel-border-indigo,.faxel-hover-border-indigo:hover{border-color:#3f51b5!important}
.faxel-border-khaki,.faxel-hover-border-khaki:hover{border-color:#f0e68c!important}
.faxel-border-lime,.faxel-hover-border-lime:hover{border-color:#cddc39!important}
.faxel-border-orange,.faxel-hover-border-orange:hover{border-color:#ff9800!important}
.faxel-border-deep-orange,.faxel-hover-border-deep-orange:hover{border-color:#ff5722!important}
.faxel-border-pink,.faxel-hover-border-pink:hover{border-color:#e91e63!important}
.faxel-border-purple,.faxel-hover-border-purple:hover{border-color:#9c27b0!important}
.faxel-border-deep-purple,.faxel-hover-border-deep-purple:hover{border-color:#673ab7!important}
.faxel-border-red,.faxel-hover-border-red:hover{border-color:#f44336!important}
.faxel-border-sand,.faxel-hover-border-sand:hover{border-color:#fdf5e6!important}
.faxel-border-teal,.faxel-hover-border-teal:hover{border-color:#009688!important}
.faxel-border-yellow,.faxel-hover-border-yellow:hover{border-color:#ffeb3b!important}
.faxel-border-white,.faxel-hover-border-white:hover{border-color:#fff!important}
.faxel-border-black,.faxel-hover-border-black:hover{border-color:#000!important}
.faxel-border-grey,.faxel-hover-border-grey:hover,.faxel-border-gray,.faxel-hover-border-gray:hover{border-color:#9e9e9e!important}
.faxel-border-light-grey,.faxel-hover-border-light-grey:hover,.faxel-border-light-gray,.faxel-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.faxel-border-dark-grey,.faxel-hover-border-dark-grey:hover,.faxel-border-dark-gray,.faxel-hover-border-dark-gray:hover{border-color:#616161!important}
.faxel-border-pale-red,.faxel-hover-border-pale-red:hover{border-color:#ffe7e7!important}.faxel-border-pale-green,.faxel-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.faxel-border-pale-yellow,.faxel-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.faxel-border-pale-blue,.faxel-hover-border-pale-blue:hover{border-color:#e7ffff!important}

/*-**************-*****************************-----------------------*/
/*faxel-text */
/*-----------------------*/
.faxel-text{display:none}
.faxel-tooltip:hover 
.faxel-text{display:inline-block}
.faxel-text-amber,.faxel-hover-text-amber:hover{color:#ffc107!important}
.faxel-text-aqua,.faxel-hover-text-aqua:hover{color:#00ffff!important}
.faxel-text-blue,.faxel-hover-text-blue:hover{color:#2196F3!important}
.faxel-text-light-blue,.faxel-hover-text-light-blue:hover{color:#87CEEB!important}
.faxel-text-brown,.faxel-hover-text-brown:hover{color:#795548!important}
.faxel-text-cyan,.faxel-hover-text-cyan:hover{color:#00bcd4!important}
.faxel-text-blue-grey,.faxel-hover-text-blue-grey:hover,.faxel-text-blue-gray,.faxel-hover-text-blue-gray:hover{color:#607d8b!important}
.faxel-text-green,.faxel-hover-text-green:hover{color:#4CAF50!important}
.faxel-text-light-green,.w3-hover-text-light-green:hover{color:#8bc34a!important}
.faxel-text-indigo,.faxel-hover-text-indigo:hover{color:#3f51b5!important}
.faxel-text-khaki,.faxel-hover-text-khaki:hover{color:#b4aa50!important}
.faxel-text-lime,.faxel-hover-text-lime:hover{color:#cddc39!important}
.faxel-text-orange,.faxel-hover-text-orange:hover{color:#ff9800!important}
.faxel-text-deep-orange,.faxel-hover-text-deep-orange:hover{color:#ff5722!important}
.faxel-text-pink,.faxel-hover-text-pink:hover{color:#e91e63!important}
.faxel-text-purple,.faxel-hover-text-purple:hover{color:#9c27b0!important}
.faxel-text-deep-purple,.faxel-hover-text-deep-purple:hover{color:#673ab7!important}
.faxel-text-red,.faxel-hover-text-red:hover{color:#f44336!important}
.faxel-text-sand,.faxel-hover-text-sand:hover{color:#fdf5e6!important}
.faxel-text-teal,.faxel-hover-text-teal:hover{color:#009688!important}
.faxel-text-yellow,.faxel-hover-text-yellow:hover{color:#d2be0e!important}
.faxel-text-white,.faxel-hover-text-white:hover{color:#fff!important}
.faxel-text-black,.faxel-hover-text-black:hover{color:#000!important}
.faxel-text-grey,.faxel-hover-text-grey:hover,.faxel-text-gray,.faxel-hover-text-gray:hover{color:#757575!important}
.faxel-text-light-grey,.faxel-hover-text-light-grey:hover,.faxel-text-light-gray,.faxel-hover-text-light-gray:hover{color:#f1f1f1!important}
.faxel-text-dark-grey,.faxel-hover-text-dark-grey:hover,.faxel-text-dark-gray,.faxel-hover-text-dark-gray:hover{color:#3a3a3a!important}
/*-**************-*****************************-----------------------*/
/*faxel-card */
/*-----------------------*/
.faxel-card,.faxel-card-2{
      box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
      }
.faxel-card-4,.faxel-hover-shadow:hover{
      box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)} 
.faxel-spin{animation:faxel-spin 2s infinite linear}@keyframes faxel-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
/*-**************-*****************************-----------------------*/
/*faxel-display */
/*-----------------------*/
.faxel-display-topleft{position:absolute;left:0;top:0}
.faxel-display-topright{position:absolute;right:0;top:0}
.faxel-display-bottomleft{position:absolute;left:0;bottom:0}
.faxel-display-bottomright{position:absolute;right:0;bottom:0}
.faxel-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.faxel-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.faxel-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.faxel-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.faxel-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.faxel-display-container:hover
.faxel-display-hover{display:block}
.faxel-display-container:hover span
.faxel-display-hover{display:inline-block}
.faxel-display-hover{display:none}
.faxel-display-position{position:absolute} 
.faxel-circle{border-radius:50%}

/*-**************-*****************************-----------------------*/
/*faxel-light-grey faxel-section*/
/*-----------------------*/
.faxel-light-grey,.faxel-hover-light-grey:hover,.faxel-light-gray,.faxel-hover-light-gray:hover{
      color:#000!important;
      background-color:#f1f1f1!important
      }
 /*-----------------------*/     
.faxel-section,.faxel-code{ 
      margin-top:16px!important; 
      margin-bottom:16px!important 
      }
/*-**************-*****************************-----------------------*/
/*faxel-left  faxel-right faxel-button faxel-transparent faxel-hover-none*/
/*-----------------------*/
.faxel-left{
     float:left!important
     }
.faxel-right{
     float:right!important
     }
.faxel-button:hover{
     color:#000!important;
     background-color:#ccc!important
     }
.faxel-transparent,.faxel-hover-none:hover{
     background-color:transparent!important
     }
.faxel-hover-none:hover{
     box-shadow:none!important
     }   
/*-**************-*****************************-----------------------*/
/*faxel-modal*/
/*-----------------------*/
.faxel-modal{
   z-index:3;
   display:none;
   padding-top:100px;
   position:fixed;
   left:0;
   top:0;
   width:100%;
   height:100%;
   overflow:auto;
   background-color:rgb(0,0,0);
   background-color:rgba(0,0,0,0.4)
   }
.faxel-modal-content{
   margin:auto;
   background-color:#fff;
   position:relative;
   padding:0;
   outline:0;
   width:600px
   }
/* -**************-*****************************-----------------------*/
/* faxel-animate-fading */
/* faxel-animate-opacity */
/* faxel-animate-top */
/* faxel-animate-left */
/* faxel-animate-right */
/* faxel-animate-bottom */
/* faxel-animate-zoom */ 
/* faxel-animate-input */
/* -----------------------*/
.faxel-animate-fading{
     animation:fading 10s infinite
     }@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}
     }
.faxel-animate-opacity{
     animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}
     } 
.faxel-animate-top{
     position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}
     }
.faxel-animate-left{
     position:relative;
     animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}
     }
.faxel-animate-right{
     position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}
     }
.faxel-animate-bottom{
     position:relative;
     animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}
     }
.faxel-animate-zoom {
     animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}
     }
.faxel-animate-input{
     transition:width 0.4s ease-in-out}
.faxel-animate-input:focus{
     width:100%!important
     }
/* -**************-*****************************-----------------------*/
/* faxel-block  faxel-responsive */
/* -----------------------*/
.faxel-block{
     display:block;
     width:100%
     }
.faxel-responsive{
     display:block;
     overflow-x:auto
     }
-**************-*****************************-----------------------*/
/* faxel-wide */
/* -----------------------*/
.faxel-wide{letter-spacing:4px}
/* -**************-*****************************-----------------------*/
/* faxel-xlarge*/
/* -----------------------*/
.faxel-xlarge{
     font-size:24px!important
     }
.faxel-xxlarge{
     font-size:36px!important
     }
.faxel-xxxlarge{
     font-size:48px!important
     }
.faxel-jumbo{
     font-size:64px!important
     }
/* -**************-*****************************-----------------------*/
/* faxel-container  faxel-panel*/
/* -----------------------*/
.faxel-container:after,.faxel-container:before,.faxel-panel:after,.faxel-panel:before,.faxel-row:after,.faxel-row:before,.faxel-row-padding:after,.faxel-row-padding:before,
.faxel-cell-row:before,.faxel-cell-row:after,.faxel-clear:after,.faxel-clear:before,.faxel-bar:before,.faxel-bar:after{
     content:"";
     display:table;
     clear:both
     }
.faxel-container:after,.faxel-container:before,.faxel-clear:after,.faxel-clear:before{
     content:"";
     display:table;
     clear:both 
     }
  .faxel-row-padding,.faxel-row-padding>.faxel-half,.faxel-row-padding>.faxel-third,.faxel-row-padding>.faxel-twothird,.faxel-row-padding>.faxel-threequarter,.faxel-row-padding>.faxel-quarter,.faxel-row-padding>.faxel-col{
       padding:0 8px
     } 
 .faxel-container,.faxel-panel{
     padding:0.01em 16px
     }
  .faxel-panel{
     margin-top:16px;
     margin-bottom:16px
     }
     
   .faxel-center{text-align:center!important}
/* -**************-*****************************-----------------------*/
/* faxel-hover-opacity */
/* -----------------------*/
.faxel-opacity,.faxel-hover-opacity:hover{
     opacity:0.60
     }
.faxel-opacity-off,.faxel-hover-opacity-off:hover{
     opacity:1
     }
.faxel-opacity-max{
     opacity:0.25
     }
.faxel-opacity-min{
     opacity:0.75
     }   
.faxel-opacity,.faxel-hover-opacity:hover{
     opacity:0.60
     }
.faxel-opacity-off,.faxel-hover-opacity-off:hover{
     opacity:1
     }
.faxel-opacity-max{
     opacity:0.25
     }
.faxel-opacity-min{
     opacity:0.75
     }
 /* -**************-*****************************-----------------------*/    
 /* faxel-border faxel-border-0 faxel-border-top faxel-border-bottom faxel-border-left faxel-border-right*/
 /* ----------------------- */
.faxel-border-0{
     border:0!important
     }
.faxel-border{
     border:1px solid #ccc!important
     }
.faxel-border-top{
     border-top:1px solid #ccc!important
     }
.faxel-border-bottom{
     border-bottom:1px solid #ccc!important
     }
.faxel-border-left{
     border-left:1px solid #ccc!important
     }
.faxel-border-right{
     border-right:1px solid #ccc!important
     }
/* -**************-*****************************-----------------------*/
/* faxel-topbar faxel-bottombar faxel-leftbar faxel-rightbar*/
/* ----------------------- */
.faxel-topbar{
     border-top:6px solid #ccc!important
     }
.faxel-bottombar{
     border-bottom:6px solid #ccc!important
     } 
.faxel-leftbar{
     border-left:6px solid #ccc!important
     }
.faxel-rightbar{
     border-right:6px solid #ccc!important
     }
/* -**************-*****************************----------------------- */  
/* faxel-margin*/
/* -----------------------*/
.faxel-margin{
    margin:16px!important
    }
.faxel-margin-top{
    margin-top:16px!important
    }
.faxel-margin-bottom{
    margin-bottom:16px!important
    }
.faxel-margin-left{
    margin-left:16px!important
    }
.faxel-margin-right{
    margin-right:16px!important
    }
/* -**************-*****************************-----------------------*/
/* faxel-input faxel-select*/
/* -----------------------*/
.faxel-input{
    padding:8px
    ;display:block;
    border:none;
    border-bottom:1px solid #ccc;
    width:100%
    } 
.faxel-select{
    padding:9px 0;
    width:100%;
    border:none;
    border-bottom:1px solid #ccc
    }
/* -**************-*****************************-----------------------*/
/* faxel-button faxel-btn*/
/* -----------------------*/
.faxel-button{
     width:100%;
     text-align:left;
     padding:8px 16px
     } 
.faxel-btn,.faxel-button{
     border:none;
     display:inline-block;
     padding:8px 16px;
     vertical-align:middle;
     overflow:hidden;
     text-decoration:none;
     color:inherit;
     background-color:inherit;
     text-align:center;
     cursor:pointer;
     white-space:nowrap
     }
.faxel-btn:hover{
     box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.faxel-btn,.faxel-button{
     -webkit-touch-callout:none;
     -webkit-user-select:none;
     -khtml-user-select:none;
     -moz-user-select:none;
     -ms-user-select:none;
     user-select:none
     }
/* -**************-*****************************-----------------------*/
/* faxel-black faxel-red faxel-white*/
/* -----------------------*/
.faxel-red,.faxel-hover-red:hover{
     color:#fff!important;
     background-color:#f44336!important
     }
 /*----------------------- */   
.faxel-white,.faxel-hover-white:hover{
     color:#000!important;
     background-color:#fff!important
     }
/*-----------------------*/
.faxel-black,.faxel-hover-black:hover{
     color:#fff!important;
     background-color:#000!important
     }
/*-----------------------*/
.faxel-dark-grey,.faxel-hover-dark-grey:hover,.faxel-dark-gray,.faxel-hover-dark-gray:hover{
     color:#fff!important;
     background-color:#616161!important
     }
/* -**************-*****************************-----------------------*/
/*faxel-padding */
/*-----------------------*/
.faxel-padding-small{
      padding:4px 8px!important}
.faxel-padding{
      padding:8px 16px!important
      }
.faxel-padding-large{
      padding:12px 24px!important
      }
.faxel-padding-16{
      padding-top:16px!important;padding-bottom:16px!important
      }
.faxel-padding-24{
      padding-top:24px!important;padding-bottom:24px!important
      }
.faxel-padding-32{
      padding-top:32px!important;padding-bottom:32px!important
      }
.faxel-padding-48{
      padding-top:48px!important;padding-bottom:48px!important
      }
.faxel-padding-64{
      padding-top:64px!important;padding-bottom:64px!important
      }
/* -**************-*****************************-----------------------*/
/* faxel-white faxel-margin*/
/* -----------------------*/
.faxel-white,.faxel-hover-white:hover{
         color:#000!important;
         background-color:#fff!important
         }
.faxel-margin{
         margin:16px!important
         }
.faxel-margin-top{
         margin-top:16px!important
         }
.faxel-margin-bottom{
         margin-bottom:16px!important
         }
.faxel-margin-left{
         margin-left:16px!important
         }
.faxel-margin-right{
         margin-right:16px!important
         }
/* -**************-*****************************-----------------------*/
